* {
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

main,
body,
html {
    width: 100%;
    height: 100%;
}


/* opening */

#opening {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, Violet, Orange);
    animation: fadeout 3s;
    padding: 25% 0;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@keyframes fadeout {
    /* 효과를 동작시간 동안 0 ~ 1까지 */
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#opening h1 {
    text-align: center;
    color: #fff;
    position: relative;
    transform: translateY(-50%);
    font-size: 1.5rem;
}


/* main contents */

.section-container {
    padding-top: 60px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, Violet, Orange);
    height: 60px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

header>a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: block;
    line-height: 60px;
}

header .menu a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 60px;
}

header .menu {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
}

header .menu .info {
    background: url('./img/user.png');
    background-size: cover;
}

header .menu .interest {
    background: url('./img/startup.png');
    background-size: cover;
}

header .menu .sns {
    background: url('./img/social-media.png');
    background-size: cover;
}

.content {
    background: #fdfdfd;
}

.section-container .content {
    padding: 30px;
    position: relative;
}

.about-me {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 100px;
}

.about-me p {
    margin-top: 20px;
}

.about-me>div {
    margin-bottom: 100px;
    margin-left: 50px;
}

#info img {
    width: 200px;
    height: 200px;
}

#info .menu {
    display: flex;
    justify-content: space-around;
}

#info .menu a {
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
}

#info .menu a:hover {
    color: #000075;
    font-weight: 700;
}

.my-interest>div {
    display: flex;
    justify-content: space-around;
}

#interest img,
#sns img {
    display: block;
    width: 200px;
    height: 200px;
}

#interest div,
#sns div {
    margin-top: 50px;
}

#interest .my-hobby img,
#sns div a {
    display: inline-block;
    margin-right: 30px;
}

#interest p {
    margin-top: 30px;
    text-align: center;
}

#sns div {
    text-align: center;
}