* {
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

main,
body,
html {
    width: 100%;
    height: 100%;
}


/* opening */

#opening {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, Violet, Orange);
    animation: fadeout 3s;
    padding-top: 50%;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@keyframes fadeout {
    /* 효과를 동작시간 동안 0 ~ 1까지 */
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#opening h1 {
    text-align: center;
    color: #fff;
    position: relative;
    transform: translateY(-50%);
    font-size: 1.5rem;
}


/* main contents */

.section-container {
    padding-top: 60px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, Violet, Orange);
    height: 60px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

header>a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: block;
    line-height: 60px;
}

header .menu a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 60px;
}

header .menu {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
}

header .menu .info {
    background: url('./img/user.png');
    background-size: cover;
}

header .menu .about {
    background: url('./img/startup.png');
    background-size: cover;
}

header .menu .sns {
    background: url('./img/social-media.png');
    background-size: cover;
}

#info {
    background: #ddd;
}

.section-container .content {
    padding: 30px;
    position: relative;
}

.about-me {
    padding: 30px 0 200px 230px;
}

.about-me p {
    margin-top: 20px;
}